.Menu {
  background-color: #cc4646;
  width: 15vw;
  height: 100vh;

  float: left;
}

.Menu .homeButton {
  position: relative;
  top: 20px;
}
.Menu .pokedexButton {
  position: relative;
  top: 20px;
}
.Menu .aboutButton {
  position: relative;
  top: 20px;
}