.PokemonContent {
  background-color: rgb(74, 91, 139);
  height: 100vh;
  width: 85vw;
  position: fixed;
  left: 15vw;
}

.chartLabel {
  position: fixed;

  top: 2vh;
  left: 17vw;
}

.chart {
  background-color: rgba(0, 0, 0, 0.158);

  position: fixed;
  top: 10vh;
  left: 17vw;

  height: 54vh;
  width: 39.5vw;

  border-radius: 15px;
  padding-top: 11vh;

}

.emptyLabel{
  position: fixed;
  top: 2vh;
  left: 17vw;

  top: 66vh;
}

.nameLabel {
  position: fixed;
  top: 2vh;
  right: 2vw;
}

.PokemonContent .pokemonImage {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.158);

  height: 54vh;
  width: 39.5vw;

  position: fixed;
  top: 10vh;
  right: 2vw;
  border-radius: 15px;
}

.PokemonContent .image {
  height: 40vh;
  max-height: 30vw;
}

.pokemonTypeLabel {
  position: fixed;
  top: 66vh;
  right: 2vw;
}

.pokemonType1Label {
  position: fixed;
  top: 66vh;
  right: 22.75vw;
}
.pokemonType2Label {
  position: fixed;
  top: 66vh;
  right: 2vw;
}

.PokemonContent .pokedexButtonContainer {
  height: 26vh;
  width: 85vw;

  position: fixed;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.PokemonContent .nextButton {
  position: fixed;
  right: 2vw;

}

.PokemonContent .previousButton {
  position: fixed;
  left: 17vw;

}