.defaultButton button {
  background-color: transparent;

  border: none;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 6vh;
  width: 39.5vw;

  border-radius: 50px;

  font-size: 1.5rem;
}

.defaultButton {
  background-color: #df4747;

  border: none;
  color: white;


  height: 6vh;
  width: 39.5vw;

  border-radius: 50px;

  font-size: 1.5rem;
}

button:hover {
  background-color: #0b751910;
}

button:active {
  background-color: #00000020;
}